* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	background-color: #eeeeee;
	background-image: url('images/wallpaper-1448284.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
body { 
	font-family: 'Merriweather Sans', sans-serif;
	color: #333333;
	width: 90%;
	background-color: #ffffff;
	margin: 40px auto;
	padding: 60px;
	box-shadow: 0 0 40px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 30px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,.5);
	}

a:link {
	color:#88cc33;
	text-decoration:none;
}
a:visited{
	color: #999999;
	}
a:hover{
	color: #3388cc;
}
a:focus{
	background-color:yellow;
	color: #3388cc;
}
a:active{
	color:#3388c0;
}
	
img {
	max-width: 100%;
	width: auto;
	height: auto;
	}
	
@media screen and (min-width: 1000px){
	body { 
	width: 900px;
	font-size:110%;
	}
	} 
	
#profile-picture  {
	margin: 5px;
	padding:5px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
	float:right;
}
	
/* h1, h2, h3 {
	font-family: Helvetica, arial, sans-serif;
	} */
	